body{
    display: flex;
    padding: 4rem;
}
#mapid {
    height: 500px;
    width: 100%;
}
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form p {
    margin: 0.5rem 0;
  }
  
  .form input {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
    font-size: 1rem;
  }
  
  .form input:focus {
    outline: none;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
  }
  